.f {
  background-image: url("https://s3-alpha-sig.figma.com/img/873d/c368/ab905c42ffa13dd8cdae0c7a05e4deec?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HGQlYahQT3shMJzdWXvn2L3NXTbBDmSpwz2yHzvQXC0RiQN3LpFwdW7vjBDQA1kLN0VGPSdJLP43B3rG5BACAJ1Awk~AsO9jzXCSyUYOjOMErXxLrkrVloBTxuMxJybYWpaKFYD8cPl8k9jh3BSDTOt8-8Eg1F4BZ62ozuiy50eTm12iUFlB1b6lp4Tcfr5uAOzusrNUKbwC7co1pY5W7ERgJBhzsBG7Fhf-w6z8FapB2cc1j-zioMPmkbujz0bAhqB3pUVAxe9FYXdWsAu37BYuppvTqN0~fGGYyTL19pGtHgGIMVcIuNiXJzXSUk0hy8fV7BI~XWuodXfS-etZpg__");
  background-repeat: no-repeat;
}
.f1 h1 {
  color: rgb(37, 61, 78);
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 529px;
}
.f1 p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #7e7e7e;
  margin-top: 20px;
}
.f1 b {
  color: #3bb77e;
}
.f {
  display: flex;
  align-items: start;
  padding: 80px 50px 0px 78px;
  margin-top: 73px;
}
.f3 h1 {
  color: rgb(36, 36, 36);
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: left;
}
.f3 p {
  color: rgb(173, 173, 173);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}
.f3 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 51px 20px 20px;
  border-radius: 10px;
  background: rgb(244, 246, 250);
}
.f2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-top: 40px;
}
